@{
    ViewData["Title"] = "Home Page";
}

@model SessionInteractor.Domain.Vehicle

<div class="text-center">
    <h1 class="display-4">Vehicle</h1>
    <h3>@Model.Registration @Model.MakeModel</h3>
</div>